
nav{
    display: flex;
}
nav .menu-img{
    margin-top: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}
nav .text{
    margin-left: 570px;
    width: 550px;
    cursor: pointer;
}
nav .text2{
    margin-left: 1050px;
    margin-top: -10px;
    width: 850px;
}
nav ul{
    position: relative;
    margin-left: -40px;
    
}
nav ul li{
    display: inline-block;
    margin: 26px;
    margin-top: -10px;
    margin-bottom: -10px;
}
body{
    /*  */
    background-color: #1D1D20;
    overflow: hidden;
}
h3, h2, h1, h4, h5, h6{
    
    color: white;
    font-family: 'Inria Sans', sans-serif;
    
}

h3 .title{
    text-align: center;
    
}

h4 .dash{
    text-align: center;
}

.rect{
    width: 100px;
    display: flex;
    margin-left: 630px;
    margin-top: -10px;
    height: 5px;
    background-color: #38A478;
    border-radius: 10px;
    padding: 0;
}
.rect2{
    width: 50px;
    display: flex;
    margin-left: 1064px;
    margin-top: -15px;
    height: 4px;
    background-color: #38A478;
    border-radius: 10px;
    padding: 0;
}

.rect3{
    display: flexbox;
    width: 800px;
    height: 500px;
    border: 2px solid #38A478;
    border-radius: 8px;
    box-sizing: border-box;
    margin-left: 50px;
}

#rect4{
    
position: absolute;
width: 360px;
height: 260px;
left: 917px;
top: 350px;

background: radial-gradient(50% 50% at 50% 50%, rgba(56, 164, 120, 0.25) 0%, rgba(44, 43, 48, 0.25) 100%);
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 29px;
    /* display: flex;
    width: 350px;
    height: 260px;
    background-image: radial-gradient(rgba(56,164,120,25%),rgba(44,43,48,25%));
    box-shadow: 5px 5px 8px #000000;
    border-radius: 8px;
    box-sizing: border-box;
    position: absolute;
    left: 925px;
    top: 350px;
    justify-content: center;
    z-index: 4; */
    /* overflow: hidden; */
}
/* 
#rect5{
    
    width:20px;
    height:20px;
    border-radius:19px;
    background: #38A478;
    border: 5px;
    position: absolute;
    margin-left: 950px;
    margin-top: 355px;
    z-index: 2;
} */

#rect5{
        
    position: absolute;
    width: 130px;
    height: 130px;
    left: 940px;
    top: 425px;

    background: #D9D9D9;
    border: 5px solid #38A478;
    box-shadow: 7px 5px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

#rect6{
    position: absolute;
    width: 130px;
    height: 130px;
    left: 1115px;
    top: 425px;

    background: #D9D9D9;
    border: 5px solid #38A478;
    box-shadow: 7px 5px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
}

/* CSS */
.button {
  background-color: #2C2B30;
  border: 1px solid #38A478;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #000000;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inria Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: 345px;
  margin-left: 920px;
  margin-top: 10px;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #FFFFFF;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

label{
    font-family: 'Inria Sans', sans-serif;
    color: white;
    size: 20px;
    position: absolute;
}
#a1{
    margin-left: 922px;
    margin-top: 110px;
}
#b1{
    margin-left: 922px;
    margin-top: 169px;
}
input{
    background-color: #2C2B30;
    color: white;
    padding: 1px 23px;
    border: 1px solid #38A478;
    box-shadow: 3px 3px 3px #000000;
    width: 245px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    cursor: text;
    margin: 0;
    position: absolute;
}
#a2{
    margin-left: 972px;
    margin-top: 100px;
}
#b2{
    margin-left: 972px;
    margin-top: 160px;
}

